@import "./colors.scss";

* {
  padding: 0;
  margin: 0;
}

.section-title {
  text-align: center;
  font-size: 30px;
  color: $text;
}

section {
  padding-inline: 40px;
}

button {
  cursor: pointer;
}
